.menu {
  will-change: transform, opacity;

  min-width: 250px;
  padding: 5px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: 4px;

  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

.item {
  user-select: none;

  position: relative;

  display: flex;
  align-items: center;

  min-height: 25px;
  padding: 0 12px;

  font-size: 13px;
  line-height: 1;
  color: var(--color-light-100);

  border-radius: 3px;
  outline: none;

  &:hover {
    color: var(--color-accent-300);
    background-color: var(--color-accent-900);
  }
}

.separator {
  height: 1px;
  background-color: var(--color-dark-500);
}

.arrow {
  fill: var(--color-dark-700);
}

.userInfo {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;

  .userName {
    border-bottom: 3px dashed;
  }
}

.content {
  display: flex;
  gap: 6px;
  align-items: center;
}

.userDataWrapper {
  display: flex;
  gap: 8px;
  padding-top: 12px;
  padding-bottom: 13px;
}

.userData {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
