button {
  all: unset;
}

.container {
  display: flex;
  align-items: center;
  margin-top: 6px;
  margin-bottom: 6px;
}

.CheckboxRoot {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;

  background-color: transparent;
  border: 1px solid;
  border-color: var(--color-light-900);
  border-radius: 2px;

  &:enabled {
    cursor: pointer;
  }

  &:enabled:focus::after,
  &:enabled:hover::after {
    content: '';

    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: inline-block;

    width: 36px;
    height: 36px;

    border-radius: 100px;
  }

  &:enabled:focus::after {
    background-color: var(--color-dark-100);
  }

  &:enabled:hover::after {
    background-color: var(--color-dark-500);
  }

  &:enabled:active::after {
    background-color: var(--color-dark-100);
  }

  &:disabled {
    cursor: initial;
    border-color: var(--color-dark-100);
  }

  &[data-state='checked'] {
    background-color: var(--color-dark-900);
  }

  &[data-state='checked']:disabled {
    background-color: var(--color-light-700);
  }
}

.CheckboxIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  padding-left: 15px;

  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: var(--color-light-100);

  &.disabled {
    color: var(--color-dark-100);
  }
}
