@mixin font(
  $fSize: var(--font-size-m),
  $lHeight: var(--line-height-m),
  $fWeight: var(--font-weight-bold),
  $fFamily: var(--font-family-primary)
) {
  font-size: $fSize;
  font-family: $fFamily;
  font-weight: $fWeight;
  line-height: $lHeight;
  color: var(--color-dark-900);
}
